body { 
	background-image:url("images/background2.jpg");
	background-size:cover;
}
body.margin-right {
	margin-right:200px;
}

h1 {
	text-align:center;
}

h3 {
	text-align:center;
}

table {
	margin:auto;
}

td {
	padding:10px;
}

p {
	text-align:justify;
}

img {
	width:100%;
}

img.margin-top {
	margin-top:200px;
}

